html {
  font-size: 87.5%; }
  @media all and (min-width: 400px) {
    html {
      font-size: 100%; } }
  @media all and (min-width: 800px) {
    html {
      font-size: 112.5%; } }

body {
  font-family: "montserrat", sans-serif; }

header {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-image: url(../pictures/home-bg-2.jpg);
  width: 100%;
  padding-bottom: 30px; }

a {
  text-decoration: none; }

.boldFont {
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-size: 80px;
  line-height: 100px;
  font-weight: 800; }

nav {
  width: 75%;
  margin: 10px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 2px; }
  nav ul:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%; }
    nav ul:first-child li:first-child {
      font-size: 50px;
      background: transparent;
      padding: 5px;
      margin-right: 30px; }
      nav ul:first-child li:first-child:hover {
        background: #2e2d2d;
        color: yellow;
        cursor: pointer; }
  nav ul:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    nav ul:nth-child(2) li {
      margin-right: 20px; }
    nav ul:nth-child(2) li:hover {
      cursor: pointer;
      color: yellow; }

@media (max-width: 1200px) {
  nav ul:first-child li:last-of-type {
    display: none; } }

.greeting {
  margin: 150px auto 0 auto;
  width: 75%;
  text-align: center;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-size: 80px;
  line-height: 100px;
  font-weight: 800; }
  .greeting span:first-child {
    color: white; }
  .greeting span:last-child {
    color: yellow; }

form#carform {
  width: 65%;
  margin: 150px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  form#carform select, form#carform button {
    width: 24%;
    height: 50px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid grey; }
  form#carform select:hover, form#carform button:hover {
    cursor: pointer; }
  form#carform button {
    background-color: #FBE42F;
    color: white;
    outline: none; }

main {
  width: 100%;
  background: white;
  margin-top: 25px;
  border-top: 1px solid transparent; }

.selectCars {
  width: 68%;
  margin: 100px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .selectCars .sideBar {
    width: 40%; }
    .selectCars .sideBar h2 {
      font-size: 80px;
      text-transform: uppercase;
      font-weight: 900; }
      .selectCars .sideBar h2 span:first-child {
        color: #1073BA; }
      .selectCars .sideBar h2 span:last-child {
        color: yellow; }
    .selectCars .sideBar .selectCarsSelector {
      width: 400px;
      height: 60px;
      margin: 10px 0;
      background: #1073BA;
      color: white;
      font-size: 40px;
      line-height: 60px;
      padding-left: 10px; }
    .selectCars .sideBar hr {
      width: 25%;
      height: 5px;
      background-color: #969698;
      border: none;
      margin: 50px auto; }
    .selectCars .sideBar .sideBarExplanation {
      margin-top: 20px;
      font-size: 25px;
      color: #969698;
      line-height: 35px; }

.autosContainer {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .autosContainer a.auto {
    text-align: center;
    width: 20%;
    margin-bottom: 70px; }
    .autosContainer a.auto img {
      width: 80%; }
    .autosContainer a.auto h3 {
      font-size: 16px;
      color: #D1CAC8;
      margin-top: 20px; }
    .autosContainer a.auto:hover h3 {
      color: #000000; }

@media (max-width: 1400px) {
  .selectCars .sideBar, .selectCars .autosContainer {
    width: 100%; }
  .selectCars .sideBar {
    text-align: center;
    margin: 0 auto 20px auto; }
    .selectCars .sideBar .selectCarsSelector {
      margin: 20px auto; } }

.featuresContainer {
  width: 68%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .featuresContainer .feature {
    width: 50%;
    height: 700px;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative; }
    .featuresContainer .feature .featureHeading {
      margin: 30px 0 30px 30px;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 800; }
    .featuresContainer .feature .featureHeading.firstRow {
      margin-top: 150px; }
    .featuresContainer .feature span.firstRow {
      color: yellow; }
    .featuresContainer .feature span.secondRow {
      color: blue; }
    .featuresContainer .feature hr {
      width: 50px;
      height: 8px;
      background: white;
      position: absolute;
      left: 30px; }
    .featuresContainer .feature .summary {
      margin: 80px 0 0 30px;
      line-height: 30px;
      font-weight: 500; }
      .featuresContainer .feature .summary p.firstRow:first-child {
        color: yellow;
        font-size: 25px; }
      .featuresContainer .feature .summary p.secondRow:first-child {
        color: white;
        font-size: 25px; }
      .featuresContainer .feature .summary h3 {
        color: white;
        font-size: 30px;
        font-weight: 600; }
      .featuresContainer .feature .summary p.firstRow:nth-child(3) {
        margin-top: 10px;
        color: white;
        font-size: 20px; }
    .featuresContainer .feature button:first-of-type {
      padding: 15px 30px;
      border: none;
      outline: none;
      position: absolute;
      bottom: 30px;
      left: 30px;
      font-size: 20px;
      font-weight: 600;
      color: white;
      background-color: #1073BA;
      -webkit-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
    .featuresContainer .feature button:last-of-type {
      padding: 15px 30px;
      border: none;
      outline: none;
      position: absolute;
      bottom: 30px;
      right: 30px;
      font-size: 20px;
      font-weight: 600;
      color: white;
      background-color: #1073BA;
      -webkit-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
    .featuresContainer .feature button:hover {
      cursor: pointer;
      background-color: #105495; }
  .featuresContainer .feature:nth-child(1) {
    background-image: url("../pictures/features/service-tile-bg.jpg"); }
  .featuresContainer .feature:nth-child(2) {
    background-image: url("../pictures/features/dgdg-buy-center.jpg"); }
  .featuresContainer .feature:nth-child(3) {
    background-image: url("../pictures/features/tile-priced-up-front-bg.jpg"); }
  .featuresContainer .feature:nth-child(4) {
    background-color: #F99500; }
  .featuresContainer .feature:nth-child(5) {
    background-image: url("../pictures/features/our-promise.jpg"); }
  .featuresContainer .feature:nth-child(6) {
    background-image: url("../pictures/features/happy-tile.jpg"); }

@media (max-width: 1400px) {
  .featuresContainer {
    width: 85%; } }

@media (max-width: 1100px) {
  .featuresContainer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .featuresContainer .feature {
      width: 90%; } }

.nextSteps {
  width: 70%;
  margin: 0 auto; }
  .nextSteps .nextStepsTitle {
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 75px; }
    .nextSteps .nextStepsTitle span:first-of-type {
      color: #B6B6B8; }
    .nextSteps .nextStepsTitle span:last-of-type {
      color: #d5d500; }
  .nextSteps .nextStepsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #B6B6B8; }
    .nextSteps .nextStepsContainer .nextStep {
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 70px;
      line-height: 22px; }
      .nextSteps .nextStepsContainer .nextStep div:first-of-type {
        font-size: 40px;
        padding-right: 30px; }
      .nextSteps .nextStepsContainer .nextStep h4 {
        font-size: 30px;
        font-weight: 800; }
      .nextSteps .nextStepsContainer .nextStep p {
        font-size: 18px; }
      .nextSteps .nextStepsContainer .nextStep button {
        color: white;
        background-color: #B6B6B8;
        outline: none;
        border: none;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 600;
        -webkit-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        transition: background-color 0.5s; }
      .nextSteps .nextStepsContainer .nextStep button:hover {
        cursor: pointer;
        background-color: #5c5c5e; }
      .nextSteps .nextStepsContainer .nextStep a {
        color: deepskyblue; }
      .nextSteps .nextStepsContainer .nextStep div:last-of-type i {
        font-size: 40px;
        -webkit-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s; }
      .nextSteps .nextStepsContainer .nextStep div:last-of-type i:hover {
        cursor: pointer;
        color: #5c5c5e; }

@media (max-width: 1500px) {
  .nextSteps {
    width: 80%; }
    .nextSteps .nextStepsContainer .nextStep {
      width: 45%; } }

.mottoContainer {
  width: 100%;
  background-color: #1073BA;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }
  .mottoContainer .mottoHeading {
    margin: 100px 0;
    text-align: center;
    font-size: 100px;
    font-weight: 900; }
    .mottoContainer .mottoHeading span:first-of-type {
      color: white; }
    .mottoContainer .mottoHeading span:last-of-type {
      color: yellow; }
  .mottoContainer .mottoDescription {
    width: 40%;
    margin: 0 auto 100px auto;
    line-height: 40px; }
    .mottoContainer .mottoDescription p {
      font-size: 30px;
      color: white;
      text-align: center; }

@media (max-width: 1000px) {
  .mottoContainer .mottoDescription {
    width: 80%; } }

footer {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  background: #2e2d2d;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  footer .dropDownMenuSectionsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    height: 80%; }
    footer .dropDownMenuSectionsContainer .dropDownMenuSections {
      width: 25%; }
      footer .dropDownMenuSectionsContainer .dropDownMenuSections i {
        font-size: 20px; }
      footer .dropDownMenuSectionsContainer .dropDownMenuSections ul {
        width: 100%;
        display: inline-block;
        margin: 20px 0 0 35%; }
        footer .dropDownMenuSectionsContainer .dropDownMenuSections ul li {
          margin-bottom: 10px;
          color: #b6b6b8;
          font-weight: normal;
          -webkit-transition: color 0.2s;
          -o-transition: color 0.2s;
          transition: color 0.2s; }
          footer .dropDownMenuSectionsContainer .dropDownMenuSections ul li:hover {
            color: yellow;
            cursor: pointer; }
        footer .dropDownMenuSectionsContainer .dropDownMenuSections ul li:first-child {
          font-size: 14px;
          color: white;
          cursor: default; }
    footer .dropDownMenuSectionsContainer .dropDownMenuSections:last-child li:last-child {
      -webkit-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }
      footer .dropDownMenuSectionsContainer .dropDownMenuSections:last-child li:last-child:hover {
        color: #b6b6b8; }
        footer .dropDownMenuSectionsContainer .dropDownMenuSections:last-child li:last-child:hover i:hover {
          color: yellow; }
  footer .dropDownMenuFooter {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 110px; }
    footer .dropDownMenuFooter button.dropDownMenuContact {
      width: 300px;
      height: 40px;
      background: #1073ba;
      border: none;
      color: white;
      outline: none;
      font-weight: bold;
      letter-spacing: 1px;
      -webkit-transition: background 0.5s;
      -o-transition: background 0.5s;
      transition: background 0.5s;
      margin-right: 50px; }
      footer .dropDownMenuFooter button.dropDownMenuContact:hover {
        background: #0f5791;
        cursor: pointer; }
    footer .dropDownMenuFooter .dropDownMenuFooterText {
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 60%;
      border-top: 1px solid white; }
      footer .dropDownMenuFooter .dropDownMenuFooterText span:first-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        footer .dropDownMenuFooter .dropDownMenuFooterText span:first-child p:nth-child(2) {
          color: #1073ba; }
      footer .dropDownMenuFooter .dropDownMenuFooterText span:last-child {
        color: yellow; }
