body {
  background-image: url(../pictures/home-bg-2.jpg);
  width: 100%; }

a {
  text-decoration: none; }

.boldFont {
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-size: 80px;
  line-height: 100px;
  font-weight: 800; }

nav {
  width: 75%;
  margin: 10px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 2px; }
  nav ul:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30%; }
    nav ul:first-child li:first-child {
      font-size: 50px;
      background: transparent;
      padding: 5px; }
      nav ul:first-child li:first-child:hover {
        background: #2e2d2d;
        color: yellow;
        cursor: pointer; }
        nav ul:first-child li:first-child:hover .dropDownMenu {
          top: 70px; }
  nav ul:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    nav ul:nth-child(2) li:hover {
      cursor: pointer;
      color: yellow; }

.dropDownMenu {
  position: absolute;
  -webkit-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
  top: -1000px;
  margin-left: -5px;
  width: 60%;
  height: 500px;
  background: #2e2d2d;
  font-size: 14px;
  padding: 30px;
  cursor: default; }
  .dropDownMenu .dropDownMenuSectionsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 80%; }
    .dropDownMenu .dropDownMenuSectionsContainer .dropDownMenuSections {
      width: 25%; }
      .dropDownMenu .dropDownMenuSectionsContainer .dropDownMenuSections i {
        font-size: 20px; }
      .dropDownMenu .dropDownMenuSectionsContainer .dropDownMenuSections ul {
        width: 100%;
        display: inline-block; }
        .dropDownMenu .dropDownMenuSectionsContainer .dropDownMenuSections ul li {
          margin-bottom: 10px;
          color: #b6b6b8;
          font-weight: normal;
          -webkit-transition: color 0.2s;
          -o-transition: color 0.2s;
          transition: color 0.2s; }
          .dropDownMenu .dropDownMenuSectionsContainer .dropDownMenuSections ul li:hover {
            color: yellow;
            cursor: pointer; }
        .dropDownMenu .dropDownMenuSectionsContainer .dropDownMenuSections ul li:first-child {
          font-size: 14px;
          margin-left: -5px;
          color: white;
          cursor: default; }
    .dropDownMenu .dropDownMenuSectionsContainer .dropDownMenuSections:last-child li:last-child {
      -webkit-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }
      .dropDownMenu .dropDownMenuSectionsContainer .dropDownMenuSections:last-child li:last-child:hover {
        color: #b6b6b8; }
        .dropDownMenu .dropDownMenuSectionsContainer .dropDownMenuSections:last-child li:last-child:hover i:hover {
          color: yellow; }
  .dropDownMenu .dropDownMenuFooter {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: absolute;
    bottom: 20px; }
    .dropDownMenu .dropDownMenuFooter button.dropDownMenuContact {
      width: 300px;
      height: 40px;
      background: #1073ba;
      border: none;
      color: white;
      outline: none;
      font-weight: bold;
      letter-spacing: 1px;
      -webkit-transition: background 0.5s;
      -o-transition: background 0.5s;
      transition: background 0.5s;
      margin-right: 50px; }
      .dropDownMenu .dropDownMenuFooter button.dropDownMenuContact:hover {
        background: #0f5791;
        cursor: pointer; }
    .dropDownMenu .dropDownMenuFooter .dropDownMenuFooterText {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 60%;
      border-top: 1px solid white; }
      .dropDownMenu .dropDownMenuFooter .dropDownMenuFooterText span:first-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .dropDownMenu .dropDownMenuFooter .dropDownMenuFooterText span:first-child p:nth-child(2) {
          color: #1073ba; }
      .dropDownMenu .dropDownMenuFooter .dropDownMenuFooterText span:last-child {
        color: yellow; }

.greeting {
  margin: 150px auto 0 auto;
  width: 75%;
  text-align: center;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-size: 80px;
  line-height: 100px;
  font-weight: 800; }
  .greeting span:first-child {
    color: white; }
  .greeting span:last-child {
    color: yellow; }

form#carform {
  width: 65%;
  margin: 150px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  form#carform select, form#carform button {
    width: 24%;
    height: 50px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid grey; }
  form#carform select:hover, form#carform button:hover {
    cursor: pointer; }
  form#carform button {
    background-color: #FBE42F;
    color: white;
    outline: none; }

main {
  width: 100%;
  background: white;
  height: 3000px;
  margin-top: 25px;
  border-top: 1px solid transparent; }

.selectCars {
  width: 68%;
  margin: 100px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .selectCars .sideBar h2 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 900; }
    .selectCars .sideBar h2 span:first-child {
      color: #1073BA; }
    .selectCars .sideBar h2 span:last-child {
      color: yellow; }
  .selectCars .sideBar .selectCarsSelector {
    width: 400px;
    height: 60px;
    margin: 10px 0;
    background: #1073BA;
    color: white;
    font-size: 40px;
    line-height: 60px;
    padding-left: 10px; }
  .selectCars .sideBar hr {
    width: 25%;
    height: 5px;
    background-color: #969698;
    border: none;
    margin: 50px auto; }
  .selectCars .sideBar .sideBarExplanation {
    margin-top: 20px;
    font-size: 25px;
    color: #969698;
    line-height: 35px; }

.autosContainer {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .autosContainer a.auto {
    text-align: center;
    width: 20%;
    margin-bottom: 70px; }
    .autosContainer a.auto img {
      width: 80%; }
    .autosContainer a.auto h3 {
      font-size: 16px;
      color: #D1CAC8;
      margin-top: 20px; }
    .autosContainer a.auto:hover h3 {
      color: #000000; }

.featuresContainer {
  width: 68%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .featuresContainer .feature {
    width: 50%;
    height: 700px;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    font-family: 'montserrat', sans-serif; }
    .featuresContainer .feature .featureHeading {
      margin: 30px 0 30px 30px;
      font-size: 60px;
      text-transform: uppercase;
      font-weight: 800; }
    .featuresContainer .feature .featureHeading.firstRow {
      margin-top: 150px; }
    .featuresContainer .feature span.firstRow {
      color: yellow; }
    .featuresContainer .feature span.secondRow {
      color: blue; }
    .featuresContainer .feature hr {
      width: 50px;
      height: 8px;
      background: white; }
    .featuresContainer .feature .summary {
      margin: 30px 0 0 30px;
      line-height: 30px;
      font-weight: 500; }
      .featuresContainer .feature .summary p.firstRow:first-child {
        color: yellow;
        font-size: 25px; }
      .featuresContainer .feature .summary p.secondRow:first-child {
        color: white;
        font-size: 25px; }
      .featuresContainer .feature .summary h3 {
        color: white;
        font-size: 30px;
        font-weight: 600; }
      .featuresContainer .feature .summary p.firstRow:nth-child(3) {
        margin-top: 10px;
        color: white;
        font-size: 20px; }
    .featuresContainer .feature button:first-of-type {
      padding: 15px 30px;
      border: none;
      outline: none;
      position: absolute;
      bottom: 30px;
      left: 30px;
      font-size: 20px;
      font-weight: 600;
      color: white;
      background-color: #1073BA;
      -webkit-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
    .featuresContainer .feature button:last-of-type {
      padding: 15px 30px;
      border: none;
      outline: none;
      position: absolute;
      bottom: 30px;
      right: 30px;
      font-size: 20px;
      font-weight: 600;
      color: white;
      background-color: #1073BA;
      -webkit-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
    .featuresContainer .feature button:hover {
      cursor: pointer;
      background-color: #105495; }
  .featuresContainer .feature:nth-child(1) {
    background-image: url("../pictures/features/service-tile-bg.jpg"); }
  .featuresContainer .feature:nth-child(2) {
    background-image: url("../pictures/features/dgdg-buy-center.jpg"); }
  .featuresContainer .feature:nth-child(3) {
    background-image: url("../pictures/features/tile-priced-up-front-bg.jpg"); }
  .featuresContainer .feature:nth-child(4) {
    background-color: #F99500; }
  .featuresContainer .feature:nth-child(5) {
    background-image: url("../pictures/features/our-promise.jpg"); }
  .featuresContainer .feature:nth-child(6) {
    background-image: url("../pictures/features/happy-tile.jpg"); }
