$headings: #FBE42F;

html {
	  font-size: 87.5%;
	  @media all and (min-width: 400px) {
			font-size: 100%;
	  }
	  @media all and (min-width: 800px) {
			font-size: 112.5%;
	  }
}

body {
	  font-family: "montserrat", sans-serif;
}

header {
	  border-top: 1px solid transparent;
	  border-bottom: 1px solid transparent;
	  background-image: url(../images/car-dealership-images/home-bg-2.jpg);
	  width: 100%;
	  padding-bottom: 30px;
}

a {
	  text-decoration: none;
}

.boldFont {
	  text-transform: uppercase;
	  font-family: montserrat, sans-serif;
	  font-size: 80px;
	  line-height: 100px;
	  font-weight: 800;
}

nav {
	  width: 75%;
	  margin: 10px auto 0 auto;
	  display: flex;
	  justify-content: space-between;
	  color: white;
	  font-family: 'Roboto', sans-serif;
	  font-weight: bold;
	  letter-spacing: 2px;
	  ul:first-child {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 50%;
			li:first-child {
				  font-size: 50px;
				  background: transparent;
				  padding: 5px;
				  margin-right: 30px;
				  &:hover {
						background: #2e2d2d;
						color: $headings;
						cursor: pointer;
				  }
			}
	  }
	  ul:nth-child(2) {
			display: flex;
			width: 50%;
			justify-content: flex-end;
			align-items: center;
			li {
				  margin-right: 20px;
			}
			li:hover {
				  cursor: pointer;
				  color: $headings;
			}
	  }
}

@media (max-width: 1200px) {
	  nav ul:first-child li:last-of-type {
			display: none;
	  }
}

.greeting {
	  margin: 150px auto 0 auto;
	  width: 75%;
	  text-align: center;
	  text-transform: uppercase;
	  font-family: montserrat, sans-serif;
	  font-size: 80px;
	  line-height: 100px;
	  font-weight: 800;
	  span:first-child {
			color: white;
	  }
	  span:last-child {
			color: $headings;
	  }
}

form#carform {
	  width: 65%;
	  margin: 150px auto 0 auto;
	  display: flex;
	  justify-content: space-between;
	  font-family: 'Roboto', sans-serif;
	  select, button {
			width: 24%;
			height: 50px;
			font-size: 18px;
			padding: 5px;
			border: 1px solid grey;
	  }
	  select:hover, button:hover {
			cursor: pointer;
	  }
	  button {
			background-color: $headings;
			color: white;
			outline: none;
			transition: background-color 0.2s;
	  }
	  button:hover {
			background-color: #e0c92e
	  }

}

main {
	  width: 100%;
	  background: white;
	  margin-top: 25px;
	  border-top: 1px solid transparent;
}

.selectCars {
	  width: 68%;
	  margin: 100px auto 0 auto;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  .sideBar {
			width: 40%;
			h2 {
				  font-size: 80px;
				  text-transform: uppercase;
				  font-weight: 900;
				  span:first-child {
						color: #1073BA;
				  }
				  span:last-child {
						color: $headings;
				  }
			}
			.selectCarsSelector {
				  width: 400px;
				  height: 60px;
				  margin: 10px 0;
				  background: #1073BA;
				  color: white;
				  font-size: 40px;
				  line-height: 60px;
				  padding-left: 10px;
			}
			hr {
				  width: 25%;
				  height: 5px;
				  background-color: #969698;
				  border: none;
				  margin: 50px auto;
			}
			.sideBarExplanation {
				  margin-top: 20px;
				  font-size: 25px;
				  color: #969698;
				  line-height: 35px;
			}
	  }
}

.autosContainer {
	  width: 55%;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: flex-start;
	  a.auto {
			text-align: center;
			width: 20%;
			margin-bottom: 70px;
			img {
				  width: 80%;
			}
			h3 {
				  font-size: 16px;
				  color: #D1CAC8;
				  margin-top: 20px;
				  transition: color 0.2s;
			}
			&:hover h3 {
				  color: #000000;
			}
	  }
}

@media (max-width: 1400px) {
	  .selectCars .sideBar, .selectCars .autosContainer {
			width: 100%;
	  }
	  .selectCars .sideBar {
			text-align: center;
			margin: 0 auto 20px auto;
			.selectCarsSelector {
				  margin: 20px auto;
			}
	  }
}

.featuresContainer {
	  width: 68%;
	  margin: 100px auto;
	  display: flex;
	  flex-wrap: wrap;

	  .feature {
			width: 50%;
			height: 700px;
			background-size: cover;
			background-position: center;
			color: white;
			position: relative;
			.featureHeading {
				  margin: 30px 0 30px 30px;
				  font-size: 3rem;
				  text-transform: uppercase;
				  font-weight: 800;
			}
			.featureHeading.firstRow {
				  margin-top: 150px;
			}
			span.firstRow {
				  color: $headings;
			}
			span.secondRow {
				  color: blue;
			}

			hr {
				  width: 50px;
				  height: 8px;
				  background: white;
				  position: absolute;
				  left: 30px;
			}
			.summary {
				  margin: 80px 0 0 30px;
				  line-height: 30px;
				  font-weight: 500;
				  p.firstRow:first-child {
						color: $headings;
						font-size: 25px;
				  }
				  p.secondRow:first-child {
						color: white;
						font-size: 25px;
				  }
				  h3 {
						color: white;
						font-size: 30px;
						font-weight: 600;
				  }
				  p.firstRow:nth-child(3) {
						margin-top: 10px;
						color: white;
						font-size: 20px;
				  }
			}
			button:first-of-type {
				  padding: 15px 30px;
				  border: none;
				  outline: none;
				  position: absolute;
				  bottom: 30px;
				  left: 30px;
				  font-size: 20px;
				  font-weight: 600;
				  color: white;
				  background-color: #1073BA;
				  transition: background-color 0.2s;
			}
			button:last-of-type {
				  padding: 15px 30px;
				  border: none;
				  outline: none;
				  position: absolute;
				  bottom: 30px;
				  right: 30px;
				  font-size: 20px;
				  font-weight: 600;
				  color: white;
				  background-color: #1073BA;
				  transition: background-color 0.2s;
			}
			button:hover {
				  cursor: pointer;
				  background-color: #105495;
			}

	  }
	  .feature:nth-child(1) {
			background-image: url("../images/car-dealership-images/features/service-tile-bg.jpg");
	  }
	  .feature:nth-child(2) {
			background-image: url("../images/car-dealership-images/features/dgdg-buy-center.jpg");
	  }
	  .feature:nth-child(3) {
			background-image: url("../images/car-dealership-images/features/tile-priced-up-front-bg.jpg");
	  }
	  .feature:nth-child(4) {
			background-color: #F99500;
	  }
	  .feature:nth-child(5) {
			background-image: url("../images/car-dealership-images/features/our-promise.jpg");
	  }
	  .feature:nth-child(6) {
			background-image: url("../images/car-dealership-images/features/happy-tile.jpg");
	  }
}

@media (max-width: 1400px) {
	  .featuresContainer {
			width: 85%;
	  }
}

@media (max-width: 1100px) {
	  .featuresContainer {
			justify-content: center;
			.feature {
				  width: 90%;
			}
	  }
}

.nextSteps {
	  width: 70%;
	  margin: 0 auto;
	  .nextStepsTitle {
			width: 100%;
			text-align: center;
			font-size: 80px;
			font-weight: 900;
			margin-bottom: 75px;
			span:first-of-type {
				  color: #B6B6B8;
			}
			span:last-of-type {
				  color: $headings;
			}
	  }
	  .nextStepsContainer {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			color: #B6B6B8;
			.nextStep {
				  width: 30%;
				  display: flex;
				  justify-content: space-between;
				  margin-bottom: 70px;
				  line-height: 22px;
				  div:first-of-type {
						font-size: 40px;
						padding-right: 30px;
				  }
				  h4 {
						font-size: 30px;
						font-weight: 800;
				  }
				  p {
						font-size: 18px;
				  }
				  button {
						color: white;
						background-color: #B6B6B8;
						outline: none;
						border: none;
						padding: 5px 10px;
						font-size: 14px;
						font-weight: 600;
						transition: background-color 0.5s;
				  }
				  button:hover {
						cursor: pointer;
						background-color: #5c5c5e;
				  }
				  a {
						color: deepskyblue;
				  }
				  div:last-of-type i {
						font-size: 40px;
						transition: color 0.2s;
				  }
				  div:last-of-type i:hover {
						cursor: pointer;
						color: #5c5c5e;
				  }
			}
	  }
}

@media (max-width: 1500px) {
	  .nextSteps {
			width: 80%;
			.nextStepsContainer .nextStep {
				  width: 45%;
			}
	  }
}


.mottoContainer {
	  width: 100%;
	  background-color: #1073BA;
	  border-top: 1px solid transparent;
	  border-bottom: 1px solid transparent;
	  .mottoHeading {
			margin: 100px 0;
			text-align: center;
			font-size: 100px;
			font-weight: 900;
			span:first-of-type {
				  color: white;
			}
			span:last-of-type {
				  color: $headings;
			}
	  }
	  .mottoDescription {
			width: 40%;
			margin: 0 auto 100px auto;
			line-height:40px;
			p {
				  font-size: 30px;
				  color: white;
				  text-align: center;
			}
	  }
}

@media (max-width: 1000px) {
	  .mottoContainer .mottoDescription {
			width: 80%;
	  }
}


